#landing-wrapper {
    height: 100vh;
    min-height: 750px;
    max-height: 920px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#landing-wrapper > div:first-of-type {
    position: relative;
    background-color: #13315C;
    color: white;
    width: 36%;
    padding: 51px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

#landing-wrapper > div:first-of-type p, #landing-wrapper > div:first-of-type h1 {
    max-width: 371px;
}

#landing-wrapper > div:first-of-type p {
    line-height: 32px;
    margin-top: 18px;
}

#landing-wrapper > div:first-of-type > span {
    position: absolute;
    bottom: 54px;
}

#landing-wrapper > div:first-of-type > span > a:first-child {
    margin-right: 26px;
}

#landing-wrapper > div:nth-of-type(2) {
    width: 64%;
    display: flex;
}

#landing-wrapper > div:nth-of-type(2) > div:first-child {
    background-color: #0B2545;
    padding: 30px;
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#landing-wrapper > div:nth-of-type(2) > div:first-child img {
    width: 20px;
    height: 15px;
    margin-left: auto;
}

#landing-wrapper > div:nth-of-type(2) > div:nth-child(2) {
    background-color: #8DA9C4;
    width: 47%;
}

@media (max-width: 1024px) {
    #landing-wrapper {
        flex-direction: column;
        max-height: none;
        height: auto;
    }

    #landing-wrapper > div:first-of-type {
        min-height: 300px;
        padding: 20px 51px;
    }
    
    #landing-wrapper > div:first-of-type, #landing-wrapper > div:nth-of-type(2) {
        width: 100%;
    }

    #landing-wrapper > div:first-of-type > span {
        position: relative;
        bottom: auto;
        margin-top: 30px;
        display: flex;
        align-items: flex-end;
    }
}

@media (max-width: 768px) {
    #landing-wrapper > div:nth-of-type(2) {
       flex-direction: column;
    }

    #landing-wrapper > div:nth-of-type(2) > div:first-child, #landing-wrapper > div:nth-of-type(2) > div:nth-child(2) {
        width: 100%;
    }

    #landing-wrapper > div:nth-of-type(2) > div:nth-child(2) {
        height: 500px;
    }
}